@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic);

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #011;
    font-family: Lato;
	margin: 0;
	padding: 0;
}

.slide {
    color: #eee;

	font-size: 6vmin;
	width: 100vw;
	height: 100vh;
	position: relative;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 1em;
}

.slide p {
    text-align: center;
}

.slide:first-child h1 {
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: lighter;
}

li {
    list-style: none;
    line-height: 1.3em;
    margin-bottom: 0.3em;
}
li:before {
    display: inline-block;
    content: "\2014";
    margin-left: -1.5em;
    width: 1.5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 60%;
    min-height: 60%;
}
