body {
	background-color: aqua;
}

.slide {
	font-family: Times New Roman;
	font-size: 6vmin;
	width: 100vw;
	height: 100vh;
	position: relative;

	background-color: aqua;
}

h1 {
	text-align: center;
}
