@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

code {
    white-space: pre;
    font-family: Source Code Pro, monospace;
    position: relative;
    left: 2%;
}

.header {
    text-align: right;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;   
}

body {
    background-color: #FFF;
    font-family: Open Sans, sans-serif;
    font-size: 1.2em;
}

.content {
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

.demo-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.demo-container iframe {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
