@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

code {
    white-space: pre;
    font-family: Source Code Pro, monospace;
    position: relative;
    left: 2%;
}

.header {
    text-align: right;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: blue;   
}

body {
    background-color: #FFF;
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    margin: 2% 4% 2% 4%;
}

.demo {
    position: absolute;
    width: 90%;
    height: 50%;
    display: block;
}

.demo + div {
    margin-top: 57%;
}
